<h1 class="mb-4">Dashboard del Paciente</h1>
<div class="d-flex">
  <!-- Información del Paciente -->
  <div class="card" style="width: 20rem;">
    <div class="card-header">
      Información del Paciente
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <strong>Names:</strong> <%= @patient.first_name %> <%= @patient.last_name %>
      </li>
      <li class="list-group-item">
        <strong>Gender:</strong> <%= @patient.resume.gender %>
      </li>
      <li class="list-group-item">
        <strong>Nationality:</strong> <%= @patient.resume.nationality %>
      </li>
      <li class="list-group-item">
        <strong>Height:</strong> <%= @patient.resume.height %>
      </li>
      <li class="list-group-item">
        <strong>Weight:</strong> <%= @patient.resume.weight %>
      </li>
      <li class="list-group-item">
        <strong>Check in:</strong> <%= @patient.resume.check_in %>
      </li>
      <li class="list-group-item">
        <strong>Check out:</strong> <%= @patient.resume.check_out %>
      </li>
    </ul>
  </div>
  <h2 class="mb-4">Calendario de Citas</h2>
  <div id="calendar">
    <% current_user.appointments.each do |appointment| %>
      <div class="card mb-3">
        <div class="card-body">
          <p><strong>Fecha:</strong> <%= appointment.appointment_date %></p>
          <p><strong>Doctor:</strong> <%= appointment.doctor.first_name %> <%= appointment.doctor.last_name %></p>
          p><strong>Doctor:</strong> <%= appointment.doctor.first_name %> <%= appointment.doctor.last_name %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>



