<div style="min-height: 100vh; padding: 10px; background-image: url('https://res.cloudinary.com/dhaafwmtf/image/upload/v1726767150/fnd2_oca6ew.webp');background-repeat: no-repeat; background-size: cover;">
<h1 class="mb-4" style="font-size: 5rem; font-family: 'Arial', sans-serif; font-weight: bold; color: #343a40; padding-bottom: 10px; text-align: left; margin-left: 20px;">
  Medical History
</h1>

  <div class="container" style="max-width: 1500px; margin: 0 auto;">
    <!-- Usamos una grid para dividir en 4fr y 8fr -->
    <div class="grid-layout" style="display: grid; grid-template-columns: 4fr 8fr; gap: 20px;">
      <!-- Información del Paciente -->
      <div class="card" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 10px; margin-left: 20px; background-color: #fff;">
        <div class="card-header" style="background-color: #007bff; color: white; font-size: 1.25rem; border-radius: 10px 10px 0 0;">
          Patient Information
        </div>
        <ul class="list-group list-group-flush">
         <li class="list-group-item" style="background-color: #fff;"><strong>Name:</strong> <%= @patient.first_name %> <%= @patient.last_name %></li>
         <li class="list-group-item" style="background-color: #fff;"><strong>Gender:</strong> <%= @patient.resume&.gender %></li>
         <li class="list-group-item" style="background-color: #fff;"><strong>Nationality:</strong> <%= @patient.resume&.nationality %></li>
         <li class="list-group-item" style="background-color: #fff;"><strong>Height:</strong> <%= @patient.resume&.height %></li>
         <li class="list-group-item" style="background-color: #fff;"><strong>Weight:</strong> <%= @patient.resume&.weight %></li>
         <li class="list-group-item" style="background-color: #fff;"><strong>Check in:</strong> <%= @patient.resume&.check_in %></li>
         <li class="list-group-item" style="background-color: #fff;"><strong>Check out:</strong> <%= @patient.resume&.check_out %></li>
        </ul>
      </div>


  <!-- Calendario de Citas y Datos del Citas -->
  <div>
    <!-- Datos de la cita -->
    <div class="accordion" id="appointmentAccordion" >
      <% @appointment = current_user.appointments.last %>
      <% @last_surgery = @surgeries&.last %>

      <% if @appointment.present? || @last_surgery.present? %>

        <!-- Preoperative Section -->
        <div class="accordion-item" style= "border-radius: 10px 10px 0 0;">
          <h2 class="accordion-header" id="headingPreoperative">
            <button class="accordion-button btn btn-outline-primary" style= "border-radius: 10px 10px 0 0; font-size: 1.25rem;" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePreoperative" aria-expanded="true" aria-controls="collapsePreoperative" >
              Preoperative
            </button>
          </h2>
          <div id="collapsePreoperative" class="accordion-collapse collapse show" aria-labelledby="headingPreoperative" data-bs-parent="#appointmentAccordion">
            <div class="accordion-body">
              <% if @last_surgery&.doctor.present? %>
                <p><strong>Doctor:</strong> <%= @last_surgery.doctor.first_name %> <%= @last_surgery.doctor.last_name %></p>
              <% else %>
                <p><strong>Desripction: </strong>No surgeries have been recorded for this patient.</p>
              <% end %>
              <% if @appointment&.doctor.present? %>
                <p><strong>Specialty:</strong> <%= @appointment.doctor.specialty.name %></p>
              <% end %>
              <p><strong>Check in:</strong> <%= @patient.resume&.check_in %></p>
              <% if @appointment&.patient&.statuses&.last&.status == "Preoperative" && @appointment.patient.statuses.last.descripcion.present? %>
                <p><strong>Description:</strong> <%= @appointment.patient.statuses.last.descripcion %></p>
              <% end %>
            </div>
          </div>
        </div>

        <!-- In Surgery Section -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingSurgery">
            <button  class="accordion-button btn btn-outline-primary" style= "font-size: 1.25rem;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSurgery" aria-expanded="false" aria-controls="collapseSurgery">
              In surgery
            </button>
          </h2>
          <div id="collapseSurgery" class="accordion-collapse collapse" aria-labelledby="headingSurgery" data-bs-parent="#appointmentAccordion">
            <div class="accordion-body">
              <% if @last_surgery.present? %>
                <p><strong>Doctor:</strong> <%= @last_surgery.doctor&.first_name %> <%= @last_surgery.doctor&.last_name %></p>
                <p><strong>Specialty:</strong> <%= @appointment&.doctor&.specialty&.name %></p>
                <p><strong>Nurse:</strong> <%= @last_surgery.nurse&.first_name %> <%= @last_surgery.nurse&.last_name %></p>
                <p><strong>Check in:</strong> <%= @last_surgery.check_in %></p>
                <p><strong>Check out:</strong> <%= @last_surgery.check_out %></p>
                <% if @appointment&.patient&.statuses&.last&.status == "In surgery" %>
                  <p><strong>Description:</strong> <%= @appointment.patient.statuses.last.descripcion %></p>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>

        <!-- Postoperative Section -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingPostoperative">
            <button  class="accordion-button btn btn-outline-primary" style= "font-size: 1.25rem;" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePostoperative" aria-expanded="false" aria-controls="collapsePostoperative">
              Postoperative
            </button>
          </h2>
          <div id="collapsePostoperative" class="accordion-collapse collapse" aria-labelledby="headingPostoperative" data-bs-parent="#appointmentAccordion">
            <div class="accordion-body">
              <% if @last_surgery.present? %>
                <p><strong>Doctor:</strong> <%= @last_surgery.doctor&.first_name %> <%= @last_surgery.doctor&.last_name %></p>
                <p><strong>Nurse:</strong> <%= @last_surgery.nurse&.first_name %> <%= @last_surgery.nurse&.last_name %></p>
                <!--<p><strong>Bed:</strong> <%= @bed&.id %> </p>-->

                <% if @appointment&.patient&.statuses&.last&.status == "Postoperative" %>
                  <p><strong>Description:</strong> <%= @appointment.patient.statuses.last.descripcion %></p>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>

        <!-- Hospital Discharge Section -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingDischarge">
            <button class="accordion-button btn btn-outline-primary" style= "color: black; font-size: 1.25rem;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDischarge" aria-expanded="false" aria-controls="collapseDischarge">
              Hospital discharge
            </button>
          </h2>
          <div id="collapseDischarge" class="accordion-collapse collapse" aria-labelledby="headingDischarge" data-bs-parent="#appointmentAccordion">
            <div class="accordion-body">
              <% if @last_surgery.present? %>
                <p><strong>Doctor:</strong> <%= @last_surgery.doctor&.first_name %> <%= @last_surgery.doctor&.last_name %></p>
                <p><strong>Check out:</strong> <%= @patient.resume&.check_out %></p>
                <% if @appointment&.patient&.statuses&.last&.status == "Hospital discharge" %>
                  <p><strong>Description:</strong> <%= @appointment.patient.statuses.last.descripcion %></p>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>

      <% else %>
        <p>No surgery or appointment data available for this patient.</p>
      <% end %>
    </div>
  </div>
</div>
</div>
</div>
