<h1>Pages#home</h1>

<%# Inicio del carrusel %>
<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
    <%= image_tag "baner1", class: "d-block w-100" %>
    </div>
    <div class="carousel-item">
   <%= image_tag "baner2", class: "d-block w-100" %>
    </div>
    <div class="carousel-item">
     <%= image_tag "baner3", class: "d-block w-100" %>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<%# Fin del carrusel %>

<div class="row mt-4">
  <div class="col-6">
    <%= image_tag "medicos.jpg", class:"img-home" %>
  </div>
  <div class="col-6 mt-5">
    <div>
      <h1>La mejor red <span>medicos especialistas
      <a class="btn btn-gradient" href="#">Busca tu medico</a></span></h1>
    </div>
  </div>
</div>

<%# <%= Inicio de galeria de fotos %>
</div><div class="et_pb_section et_pb_section_2 et_pb_with_background et_section_regular" mt-4 >
<div class="et_pb_row et_pb_row_3">
<div class="et_pb_column et_pb_column_4_4 et_pb_column_5  et_pb_css_mix_blend_mode_passthrough et-last-child">
<div class="et_pb_module et_pb_text et_pb_text_1  et_pb_text_align_left et_pb_bg_layout_light">
<div class="et_pb_text_inner"><h2 style="text-align: center;">Tu confianza nos motiva</h2></div>
</div><div id="servicios" class="et_pb_module dmg_masonry_gallery dmg_masonry_gallery_0">
<div class="et_pb_module_inner">
<div class="dmg-gallery-wrapper">
<div class="dmg-gallery ">
<div class="dmg-gallery-sizer"></div>

<div class="dmg-gutter-sizer"></div>
<a data-width="5500" data-height="799" href="/hc/servicios/"  data-categories="" class="dmg_masonry_gallery_item " >
   <%= image_tag "hospitalizacion.jpg" %>
<span class="dmg-img-overlay dmg-with-animation">
<div>
<p class="dmg-img-overlay-title">ATENCIÓN MÉDICA DE ESPECIALIDAD</p>
<p class="dmg-img-overlay-caption">El Hospital Central de Apizaco tiene la mejor Red de Médicos Especialistas del estado de Tlaxcala y la región, atendiendo a través de sus consultorios en las Unidades Médicas de Especialistas I, II y III.</p>
</div>
</span>
</a>
<a data-width="800" data-height="799" href="/hc/servicios/"  data-categories="" class="dmg_masonry_gallery_item " >
<img class="lazyload" alt="" data-src="https://beneficioshca.com/hc/wp-content/uploads/2023/01/urgencias24horas2.jpg" width="800" height="799" />
<span class="dmg-img-overlay dmg-with-animation dmg-bottom-enter">
<div>
<p class="dmg-img-overlay-title">URGENCIAS 24 HORAS</p>
<p class="dmg-img-overlay-caption">Te brindamos atención de consulta de urgencias las 24 hrs a cargo de médicos de primer contacto con vinculación a nuestras especialidades médicas y servicio de diagnóstico (Laboratorio clínico, RX y tomografía computarizada).</p>
</div>
</span>
</a>
<a data-width="800" data-height="799" href="/hc/servicios/"  data-categories="" class="dmg_masonry_gallery_item " >
<img class="lazyload" alt="" data-src="https://beneficioshca.com/hc/wp-content/uploads/2023/01/cirugiaytococirugia2.jpg" width="800" height="799" />
<span class="dmg-img-overlay dmg-with-animation dmg-bottom-enter">
<div>
<p class="dmg-img-overlay-title">CIRUGÍA Y TOCOCIRUGÍA</p>
<p class="dmg-img-overlay-caption">Contamos con salas de quirófano para procedimientos quirúrgicos de especialidad y sub-especialidad médica.</p>
</div>
</span>
</a>
<a data-width="800" data-height="799" href="/hc/servicios/"  data-categories="" class="dmg_masonry_gallery_item " >
<img class="lazyload" alt="" data-src="https://beneficioshca.com/hc/wp-content/uploads/2023/01/estudiosdediagnostico2-copia.jpg" width="800" height="799" />
<span class="dmg-img-overlay dmg-with-animation dmg-bottom-enter">
<div>
<p class="dmg-img-overlay-title">ESTUDIOS DE DIAGNOSTICO</p>
<p class="dmg-img-overlay-caption">Te ofrecemos estudios de diagnóstico integral de laboratorio clínico, ultrasonido, RX y Tomografía Computarizada para complementar un correcto diagnóstico médico. </p>
</div>
</span>
</a>
<a data-width="800" data-height="799" href="/hc/servicios/"  data-categories="" class="dmg_masonry_gallery_item " >
<img class="lazyload" alt="" data-src="https://beneficioshca.com/hc/wp-content/uploads/2023/01/hemodialisis2.jpg" width="800" height="799" />
<span class="dmg-img-overlay dmg-with-animation dmg-bottom-enter">
<div>
<p class="dmg-img-overlay-title">HEMODIÁLISIS</p>
<p class="dmg-img-overlay-caption">La terapia sustitutiva de la función del riñon se ha convertido en una necesidad en nuestro país, por ello en el Hospital Central de Apizaco contamos con una Unidad de Hemodiálisis atendida por la especialidad de nefrología con personal capacitado para brindarte atención de calidad y calidez. </p>
</div>
</span>
</a>
<a data-width="800" data-height="799" href="/hc/servicios/"  data-categories="" class="dmg_masonry_gallery_item " >
<img class="lazyload" alt="" data-src="https://beneficioshca.com/hc/wp-content/uploads/2023/02/alertainfarto-copia.jpg" width="800" height="799" />
<span class="dmg-img-overlay dmg-with-animation dmg-bottom-enter">
<div>
<p class="dmg-img-overlay-title">ALERTA INFARTO</p>
<p class="dmg-img-overlay-caption">Protocolo de atención médica inmediata, nos permite una intervención temprana en los primeros 90 minutos.</p>
</div>
</span>
</a>
<a data-width="800" data-height="799" href="/hc/servicios/"  data-categories="" class="dmg_masonry_gallery_item " >
<img class="lazyload" alt="Acceso a los beneficios del sistema de salud." data-src="https://beneficioshca.com/hc/wp-content/uploads/2023/02/cristus2.jpg" width="800" height="799" />
<span class="dmg-img-overlay dmg-with-animation dmg-bottom-enter">
<div>
<p class="dmg-img-overlay-title">CONVENIO</p>
<p class="dmg-img-overlay-caption">Acceso a los beneficios del sistema de salud Christus Muguerza.</p>
</div>
</span>
</a>
</div>
</div>
</div>
