<%# Inicio del carrusel %>
<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active ">
    <%= image_tag "https://res.cloudinary.com/dhaafwmtf/image/upload/v1726681062/baner1_oylmvv.jpg", class: "d-block w-100" %>
    </div>
    <div class="carousel-item">
   <%= image_tag "https://res.cloudinary.com/dhaafwmtf/image/upload/v1726681062/baner2_v83snj.jpg", class: "d-block w-100" %>
    </div>
    <div class="carousel-item">
     <%= image_tag "https://res.cloudinary.com/dhaafwmtf/image/upload/v1726681063/baner3_xgrwxd.jpg", class: "d-block w-100" %>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<%# Fin del carrusel %>

<div class="row mt-4 bg-white">
  <div class="col-6">
    <%= image_tag "https://res.cloudinary.com/dhaafwmtf/image/upload/v1726681770/medicos_a7cjnx.jpg", class:"img-home" %>
  </div>
  <div class="col-6 mt-5">
    <div class="text-center">
      <h1 class="display-1">Información clara, <span>atención sin pausa.</span></h1>
      <%= image_tag "logo.avif", alt: "Logo", class: "logo" %>
    </div>
  </div>
</div>


<%# <%= Inicio de galeria de fotos %>
<div class="row  bg-white">
  <div class="et_pb_section et_pb_section_2 et_pb_with_background et_section_regular">
          <div class="et_pb_text_inner">
            <h1 style="text-align: center;">Tu confianza nos motiva</h1>
          </div>
                 <%# Cards  %>
                <div class="cards-container">
                  <div class="card">
                    <img class="lazyload" alt="Hospitalización" src="https://beneficioshca.com/hc/wp-content/uploads/2023/01/hospitalizacion3.jpg" />
                    <div class="card-overlay">
                      <p class="card-title">HOSPITALIZACIÓN</p>
                      <p class="card-caption">Contamos con habitaciones cómodas y amplias.</p>
                    </div>
                  </div>
                  <div class="card">
                    <img class="lazyload" alt="Atención médica" src="https://beneficioshca.com/hc/wp-content/uploads/2023/01/atencion-de-especialidad-medica-980x979.png" />
                    <div class="card-overlay">
                      <p class="card-title">ATENCIÓN MÉDICA DE ESPECIALIDAD</p>
                      <p class="card-caption">HospiCare360 tiene la mejor Red de Médicos Especialistas.</p>
                    </div>
                  </div>
                   <div class="card">
                    <img class="lazyload" alt="Urgencias" src="https://beneficioshca.com/hc/wp-content/uploads/2023/01/urgencias24horas2.jpg"/>
                    <div class="card-overlay">
                      <p class="card-title">URGENCIAS 24 HRS</p>
                      <p class="card-caption">Te brindamos atención de consulta de urgencias las 24 hrs a cargo de médicos de primer contacto y servicio de diagnóstico.</p>
                    </div>
                  </div>
                   <div class="card">
                    <img class="lazyload" alt="Hemodialisis" src="https://beneficioshca.com/hc/wp-content/uploads/2023/01/hemodialisis2.jpg"/>
                    <div class="card-overlay">
                      <p class="card-title">HEMODIALISIS</p>
                      <p class="card-caption">La terapia sustitutiva de la función del riñon se ha convertido en una necesidad en nuestro país, contamos con una Unidad de Hemodiálisis atendida por la especialidad de nefrología con personal capacitado para brindarte atención de calidad y calidez..</p>
                    </div>
                  </div>
                   <div class="card">
                    <img class="lazyload" alt="ESTUDIOS" src="https://beneficioshca.com/hc/wp-content/uploads/2023/01/estudiosdediagnostico2-copia.jpg" />
                    <div class="card-overlay">
                      <p class="card-title">ESTUDIOS DE DIAGNOSTICO</p>
                      <p class="card-caption">Te ofrecemos estudios de diagnóstico integral de laboratorio clínico, ultrasonido, RX,entre otros.</p>
                    </div>
                  </div>
                   <div class="card">
                    <img class="lazyload" alt="ALERTA INFARTO" src="https://beneficioshca.com/hc/wp-content/uploads/2023/02/alertainfarto-copia.jpg" />
                    <div class="card-overlay">
                      <p class="card-title">ALERTA INFARTO</p>
                      <p class="card-caption">Protocolo de atención médica inmediata, nos permite una intervención temprana en los primeros 90 minutos.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <div class="et_pb_module et_pb_divider et_pb_divider_0 et_pb_divider_position_ et_pb_space">
      <div class="et_pb_divider_internal"></div>
    </div>
    </div>
  </div>
  </div>
</div>
<%# Fin de galeria de fotos %>

<div class="section bg-white">
  <div class="row">
    <div class="column half">
      <div class="image-container">
        <img loading="lazy" decoding="async" width="64" height="64" src="https://beneficioshca.com/hc/wp-content/uploads/2022/11/health-icon-10-3.png" alt="Health Icon" class="image-small" />
      </div>
      <div class="text-container">
        <h2>Prevenir es curar</h2>
        <p>
          En el siglo XXI, los servicios de salud se enfocan en la creación de una cultura de <strong>prevención</strong>,
          acude oportunamente con nuestros médicos.
        </p>
      </div>
      <div class="image-container" >
        <img decoding="async" src="https://beneficioshca.com/hc/wp-content/uploads/2023/01/valores-1.svg" alt="Servicio Reconocimiento Ética Valores" class="image-small" />
      </div>
    </div>
    <div class="column half">
      <div class="image-container box-shadow">
        <img loading="lazy" decoding="async" width="906" height="683" src="https://beneficioshca.com/hc/wp-content/uploads/2023/01/WhatsApp-Image-2023-01-09-at-9.22.39-AM.jpeg" alt="WhatsApp Image" class="image-large" />
      </div>
    </div>
  </div>
</div>
