<h1>Doctors</h1>

<%= link_to 'New Doctor', new_doctor_path, class: 'btn btn-primary' %>

<table class="table mt-4">
  <thead>
    <tr>
      <th>Name</th>
      <th>Specialization</th>
      <th>Phone</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @doctors.each do |doctor| %>
      <tr>
        <td><%= doctor.name %></td>
        <td><%= doctor.specialization %></td>
        <td><%= doctor.phone %></td>
        <td>
          <%= link_to 'Show', doctor, class: 'btn btn-secondary' %>
          <%= link_to 'Edit', edit_doctor_path(doctor), class: 'btn btn-warning' %>
          <%= link_to 'Delete', doctor, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
