<h1>Beds</h1>
<table>
  <thead>
    <tr>
      <th>Created at</th>
      <th>Updated at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @beds.each do |bed| %>
      <tr>
        <td><%= bed.created_at %></td>
        <td><%= bed.updated_at %></td>
        <td>
          <%= link_to 'Show', bed %>
          <%= link_to 'Edit', edit_bed_path(bed) %>
          <%= link_to 'Destroy', bed, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Bed', new_bed_path %>
