<!DOCTYPE html>
<html>
  <head>
    <title>HospiCare360</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag "https://res.cloudinary.com/dhaafwmtf/image/upload/v1726700844/chqavrezwnmrfiqtfyqy_c_pad_w_32_h_32_didlve.ico"%>
  </head>

  <body><%= render "shared/navbar" %>
    <%= render "shared/flashes" %>

    <%= yield %>

    <%= render 'layouts/footer' %>
  </body>
</html>
